{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="gett" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

<table>
    <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Key' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for key, value in configs %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th><a href="?key={{key}}">{{value.name}}</a></th>
            <td>{{key}}</td>
    {% endfor %}
    </tbody>
</table>

</div>
</form></div>
{% endblock %}
