{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="gett" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

{% for key, value in CONFIGS.iteritems %}
    <a href="?key={{key}}">{{value.name}}</a><br/>
{% endfor %}

</div>
</form></div>
{% endblock %}
